@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
/*RESET E PADRONIZAÇÃO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Hammersmith One', sans-serif;
    scroll-behavior:smooth;
}
body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}
.gradient1{
    width: 40%;
    background: radial-gradient(54.9% 79.41% at 70.22% 64.04%, #FFFFFF 0%, #FFC700 47.36%, #B68710 100%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}/*
/*RESET E PADRONIZAÇÃO*/

/*First Content*/
.first-conteiner {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    display: flex;
    height: 100vh;
}
.first-conteiner--icons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    gap: 20px;
}
.linkedin-icon {
    background-image: url('../images/linkedin.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}
.behance-icon {
    background-image: url('../images/behance.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 46px;
    width: 48px;
}
.linkedin-icon:hover,
.behance-icon:hover {
    opacity: 0.2px;   
    background-color: #d4bb2c;
    border: 1px solid #CCC;
    border-radius: 7px;
}
.first-conteiner--title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 90px;
}
.first-conteiner--title-link {
    font-size: 90px;
    padding: 5px;
    font-weight: bold;
}

/*Second conteiner*/
.second-conteiner {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(28deg, #000000 1.58%, #555 250%);
}
.second-conteiner--title{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 70px;
    margin-right: 60%;
    font-weight: bold;
}
.second-conteiner--text-area {
    display: flex;
    text-align: justify;
    padding: 50px 90px;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}
.second-conteiner--text-area a {
    color: #B68710;
}
.second-conteiner--text-area a:hover {
    color: #f5c752;
}

/*Third conteiner*/
.third-conteiner {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
}
.third-conteiner--title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
    margin-left: -12%;
    font-weight: bold;
}
.slider{
    flex: 1;
    margin-top: 20px;
    overflow: hidden;
}
.slider--width{
    height: 100vh;
    display: flex;
    gap: 15px;
    transition: all ease 3s;
}
.slider--item{
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 20px;
    gap: 1px;
    box-shadow: 1px 1px 5px #000;
}
.slide-title {
    flex: 1;
    height: 100%;
    border-radius: 20px 0 0 20px;
    background-color: #B68710;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
}
.slide-title h1 {
    padding-top: 20px;
}
.slide-title p {
    padding: 50px;
}
.slide-image {
    flex: 1;
    height: 100%;
    cursor: pointer;
}
.slide-image img {
    border-radius: 0px 20px 20px 0px;
    width: 100%;
    height: 100%;
}

.control-left, .control-right {
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0.1;
    transition: all ease-in-out 1s;
    border: 0;
    cursor: pointer;
    height: 50vh;
}
.control-left {
    left: 0;
    border-radius: 0 50px 50px 0;
}
.control-left:hover, .control-right:hover {
   opacity: 1;
   transition: all ease-in-out 0.5s;
   
}
.control-right {
    right: 0;
    border-radius: 50px 0 0 50px;
}
.control-left-img, .control-right-img {
    width: 25px;
}


/*ICONS AREA*/
.icons-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 30px;
}
.line-right {
    width: 600px;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #FFF, #000);
    border-image-slice: 1;
}
.line-left {
    width: 600px;
    border: 1px solid transparent;
    border-image: linear-gradient(to left, #FFF, #000);
    border-image-slice: 1;
}

/*Footer conteiner*/
.footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.contato-conteiner {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    border: 1px solid #777;
    border-radius: 10px;
    box-shadow: 0px 4px 25px #000000, inset 0px 4px 25px rgb(255 255 255 / 53%);
}
.contato-conteiner--top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    height: 30px;
    background: radial-gradient(91.75% 132.31% at 107.07% 50%, #FFFFFF 0%, #FFC700 47.36%, #B68710 100%)
}
.contato-conteiner--top p {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    text-shadow: 0px 1px 2px #333;
}
.contato-conteiner--main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: calc(100% - 52px);
}
.button {
    display: flex;
    padding: 10px; 
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background: linear-gradient(358deg, #FFF, #333);
}
.button:hover {
    box-shadow: 0px 3px 10px #555;
    padding: 25x 35px; 
    cursor: pointer;
}
.footer-conteiner--bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: bottom;
    height: 100px;
    width: 100vw;
    background-color: #AAA;
}

