@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
/*RESET E PADRONIZAÇÃO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Hammersmith One', sans-serif;
    scroll-behavior:smooth;
}
body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}

/*EFEITO GRADIENTE*/
.gradient1{
    width: 100%;
    background: radial-gradient(54.9% 79.41% at 70.22% 64.04%, #FFFFFF 0%, #FFC700 47.36%, #B68710 100%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* BOTÃO DE RETORNO*/
#return-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    position: fixed;
    background-color: rgb(245, 199, 82, .5);
    bottom: 15px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.btn {
    border: solid 1px #000;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
    
}
.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/*RESET E PADRONIZAÇÃO FIM*/

/*First Content*/
.first-conteiner {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    display: flex;
    height: 100vh;
}
.first-conteiner--icons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    gap: 20px;
}
.linkedin-icon {
    background-image: url('../images/linkedin.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}
.github-icon {
    background-image: url('../images/github.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 46px;
    width: 48px;
}
.linkedin-icon:hover,
.github-icon:hover {
    opacity: 0.2px;   
    background-color: #d4bb2c;
    border: 1px solid #CCC;
    border-radius: 7px;
    transition: 200ms all ease-in-out;
}
.first-conteiner--title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 90px;
}
.first-conteiner--title-link {
    font-size: 90px;
    padding: 5px;
    font-weight: bold;
}
.first-conteiner--title-link a:hover {
    font-size: 100px;
    margin: 20px auto;
    transition: 200ms linear;
}

/*Second conteiner*/
.second-conteiner {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(28deg, #000000 1.58%, #555 250%);
}
.second-conteiner--title{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 70px;
    margin-right: 60%;
    font-weight: bold;
}
.second-conteiner--text-area {
    display: flex;
    text-align: justify;
    padding: 50px 90px;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}
.second-conteiner--text-area a {
    color: #B68710;
}
.second-conteiner--text-area a:hover {
    color: #f5c752;
}

/*Third conteiner*/
.third-conteiner {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
}
.third-conteiner--title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
    margin-left: -12%;
    font-weight: bold;
}
/*AREA DOS SLIDES*/
.slider {
    margin: 0 auto; 
    margin-top: 80px;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}
.slide-title {
    background: linear-gradient(28deg, #000000 1.58%, #777 250%);
    width: 100%;
    padding: 20px;
    border-top: 2px solid #444;
    border-left: 2px solid #444;
    border-right: 2px solid #444;
    color: #B68710;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide {
    width: 25%;
    position: relative;
    transition: 4s;
}
.slide img {
    width: 1000px;
}

.manual-navigation {
    position: absolute;
    width: 1000px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #555;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/*aplicando edição nos itens, menos no ultimo*/
.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #5cf;
}

#radio1:checked ~.first {
    margin-left: 0;
}
#radio2:checked ~.first {
    margin-left: -25%;
}
#radio3:checked ~.first {
    margin-left: -50%;
}
#radio4:checked ~.first {
    margin-left: -75%;
}
#radio5:checked ~.first {
    margin-left: -100%;
}

.navigation-auto div {
    border: 2px solid #555;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto {
    position: absolute;
    width: 1000px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fcd600;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fcd600;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fcd600;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fcd600;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #fcd600;
}

/*ICONS AREA*/
.icons-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 30px;
}
.line-right {
    width: 600px;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #FFF, #000);
    border-image-slice: 1;
}
.line-left {
    width: 600px;
    border: 1px solid transparent;
    border-image: linear-gradient(to left, #FFF, #000);
    border-image-slice: 1;
}

/*Footer conteiner*/
.footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.contato-conteiner {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    border: 1px solid #777;
    border-radius: 10px;
    box-shadow: 0px 4px 25px #000000, inset 0px 4px 25px rgb(255 255 255 / 53%);
}
.contato-conteiner--top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    height: 30px;
    background: radial-gradient(91.75% 132.31% at 107.07% 50%, #FFFFFF 0%, #FFC700 47.36%, #B68710 100%)
}
.contato-conteiner--top p {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    text-shadow: 0px 1px 2px #333;
}
.contato-conteiner--main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: calc(100% - 52px);
}
.contato-conteiner--main a{
    gap: 10px;

}
.button {
    display: flex;
    padding: 10px;
    font-size: 18px;
    color: #CCC;
    box-shadow: 0px 1px 0px #555;

}
.button:hover {
    box-shadow: 0px 3px 0px #555;
    color: #d4bb2c;
    font-size: 20px;
    transition: 100ms all ease-in-out ;
    cursor: pointer;
}
.footer-conteiner--bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: bottom;
    height: 100px;
    width: 100vw;
    background-color: #AAA;
}

/* RESPONSIVIDADE */

/*tablet*/
@media (max-width: 990px){
    
    /*First Conteiner*/
    .first-conteiner {
        display: block;
        background-size: 300%;
    }   
    .first-conteiner--icons {
        flex-direction: row;
        margin-top: 15px;
        margin-left: 75%;
        gap: 30px;
    }
    .ft-icon {
        width: 60px;
        height: 60px;
    }
    .first-conteiner--title {
        margin-top: 100px;
        padding: 0;
    }
    .first-conteiner--title ul li {
        font-size: 90px;
        margin: 90px;
        box-shadow: 0px 0px 10px #000;
        background-color: #88888850;
    }
    .first-conteiner--title-link {
        font-size: 90px;
    }
    .first-conteiner--title-link a:hover{
        font-size: 80px;
        margin: 20px auto;
        transition: 300ms linear;
    }
    /*Second Conteiner*/
    .content-title {
        width: 100vw;
        font-size: 50px;
        margin: 0;
    }

    .second-conteiner--text-area {
        padding: 10px 10px;
        font-size: 30px;
        line-height: 150%;
    }

    /* Third Content slides*/
    .content-title {
        padding-top: 50px;
    }
    .slider {
        width: 100%;
        height: 524px;
    }
    .slide-title {
        height:12vh;
        border-radius: 20px 20px 0px 0px;
        text-align: center;
    }
    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .manual-navigation {
        width: 100%;
        margin-top: 30%;
    }
    .navigation-auto {
        width: 100%;
        margin-top: 82%;
    }
    .contato-conteiner {
        width: 90%;
        height: 50%;
    }
    .contato-conteiner--top {
        height: 20%;
    }
    .contato-conteiner--top p{
        font-size: 30px;
    }
    .button {
        font-size: 25px;
    }

}

/*celular*/

@media (max-width: 767px){
    
    /*First Conteiner*/
    .first-conteiner {
        display: block;
        background-size: 320%;
    }   
    .first-conteiner--icons {
        flex-direction: row;
        margin-top: 15px;
        margin-left: 70%;
        gap: 15px;
    }
    .ft-icon {
        width: 40px;
        height: 40px;
    }
    .first-conteiner--title {
        margin-top: 90px;
    }
    .first-conteiner--title ul li {
        font-size: 38px;
        margin: 60px;
        box-shadow: 0px 0px 10px #000;
        background-color: #88888850;
    }
    /*Second Conteiner*/
    .content-title {
        width: 100vw;
        font-size: 40px;
        margin: 0;
    }

    .second-conteiner--text-area {
        padding: 10px 10px;
        font-size: 15px;
        line-height: 150%;
    }

    /* Third Content slides*/
    .content-title {
        padding-top: 30px;
    }
    .slider {
        width: 100%;
        height: 524px;
        margin-top: 10px;
    }
    .slide img {
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
    .manual-navigation {
        margin-top: 20%;
    }
    .navigation-auto {
        margin-top: 127%;
    }
    .contato-conteiner {
        width: 90%;
        height: 50%;
    }
    .contato-conteiner--top {
        height: 20%;
    }
    .contato-conteiner--top p{
        font-size: 30px;
    }
    .button {
        font-size: 20px;
    }

}